<!DOCTYPE html>
<html>
<head><title>แดชบอร์ดผู้ดูแล</title></head>
<body>
  <h2>แดชบอร์ดผู้ดูแล</h2>
  <table border="1">
    <tr>
      <th>user_id</th>
      <th>name</th>
      <th>usage</th>
      <th>paid_quota</th>
      <th>slip_file</th>
      <th>updated_at</th>
    </tr>
    {% for user in users %}
    <tr>
      <td>{{ user['user_id'] }}</td>
      <td>{{ user['name'] }}</td>
      <td>{{ user['usage'] }}</td>
      <td>{{ user['paid_quota'] }}</td>
      <td>{{ user['slip_file'] }}</td>
      <td>{{ user['updated_at'] }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>

